@import url(http://fonts.googleapis.com/css?family=Codystar|Source+Code+Pro);
*{color: #000; font-family:arial; font-weight:normal;}

body,html{margin:0;padding:0;}
body{background: #3C3C3C;}

.player {position: fixed;z-index: 100000;background: black;overflow: hidden;top: 0;left: 0;right: 0;}
.player div { float: left; display: inline-block; margin: 5px 20px 15px; }
.player div#title a{margin-top: 10px;color: #B0B0B0;text-transform: uppercase;display: block;text-decoration: none;}
.player .control {    margin: 10px 0 0 20px;}
.player .control i {cursor: pointer;border: none;font-size: 25px;width: 30px;height: 30px;color: white;}
.player .control i.active {color:#1BA9A9;}
.player .control i#play {}
.player .control i#pause {}
.player .control i#skip {}
.player .moods {}
.player .moods .control {}
.player .moods .control p { color: #3C3C3C; margin: 0; }
header {}
header h1 {text-transform: uppercase;color: white;font-weight: lighter;letter-spacing: 45px;font-size: 360%;margin: 30px 0 20px;}
header h2 { font-family: Codystar; color: gray; }
.flash {}
p {}
p a {}
header p{ color: #454545; }
header p a { color: #1BA9A9; text-decoration: none; text-transform: uppercase; font-size: 80%; }
a {}
p .tubular-mute {}
.ram {display: none;}
header{padding: 40px 20px 20px 20px;background: #303030;}
footer{}
main{}
.article{width: 300px;background: #616161;min-height: 300px;margin: 0px 20px 20px 0;border: solid 10px #616161;float: left;border-radius: 2px;}
.article p{ color: #1C1C1C; font-size: 18px; margin: 10px; font-family: Source Code Pro; }
.tracks{ padding: 20px; background: #4B4B4B; }
form{  }
form fieldset{border: none;padding: 0;margin: 0;}
form .input{
    margin: 20px 0;
}
form .input label{ font-size: 20px; margin-right: 15px; min-width: 100px; display: inline-block; }
form .input input{border: none;border-radius: 3px;background: #303030;min-width: 450px;font-size: 12px;padding: 10px;}
form .submit{
    margin: 20px 0;
}
form .submit input{border: none;background: #1BA9A5;color: #DDFFFE;font-size: 15px;padding: 10px 20px;border-radius: 3px;font-family: monospace;text-transform: uppercase;letter-spacing: 2px;}

table {
    width: 100%;
}
table thead {
    background: #787878;
}
table thead tr {}
table thead tr th {}
table thead tr th a {}
table thead tr .actions {}
table tbody {}
table tbody tr {}
table tbody tr:nth-child(odd) td{background: #616161;}
table tbody tr td {
    padding: 5px;
    background: #666666;
}
table tbody tr .actions {}
table tbody tr .actions a {}
table tbody tr .actions form {}
table tbody tr .actions form input {}
table tbody tr .actions form div {}
table tbody tr .actions form div input {}
.content{
    margin: 20px;
}
.hidden{display:none}
.content h2{
    color: #7B7B7B;
    font-weight: 100;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 5px;
}